APRS_BOT_ENABLED=true
DEBUG=false
KISS_CONN_TYPE=tcp
KISS_HOST=tnc-server
KISS_PORT=6700
MQTT_TOPIC_PREFIX=aprs
MQTT_PORT=1883
MQTT_SERVER=mosquitto
MQTT_SERVER_PORT=1883
TNC_BAUD=1200
TNC_LISTEN_PORT=6700
TNC_SERIAL=/dev/ttyUSB0